.clipPaths 
  | <svg width="0" height="0">
  | <clipPath id='squircle' clipPathUnits="objectBoundingBox">
  | <path d="M0.5,0.05 C0.842270149,0.05 0.95,0.157729851 0.95,0.5 C0.95,0.842270149 0.842270149,0.95 0.5,0.95 C0.157729851,0.95 0.05,0.842270149 0.05,0.5 C0.05,0.157729851 0.157729851,0.05 0.5,0.05 Z" />
  | </clipPath>
  | <clipPath id='wave' clipPathUnits="objectBoundingBox">
  |  <path  d="M-0.0559539795,0.110013476 C0.030600426,0.102550985 0.113470515,0.118167409 0.192656287,0.156862745 C0.333094856,0.225490196 0.333094856,0.284313725 0.484827002,0.284313725 C0.614028236,0.284313725 0.614028236,0.12745098 0.788235053,0.0980392157 C0.879142663,0.0826910606 0.972324159,0.0866824805 1.0,0.110013476 L1.0,0.894327201 C0.965195141,0.765254344 0.872013645,0.686099525 0.788235053,0.656862745 C0.563488349,0.578431373 0.563488349,0.882352941 0.248842963,0.774509804 C0.163943449,0.745410919 0.062344468,0.785350051 -0.0559539795,0.894327201 L-0.0559539795,0.110013476 Z"  />
  |  </clipPath>
  |</svg>
