<aside class="section bio">
    <div class="row">
        <div class="col-4">
            <img src="/lateralco.studio/assets/img/avatar-zita.jpg" alt="Zita's photo" class="avatar img-pull-right">
        </div>
        <div class="col-8">
            <h2>Hi there, it's Zita here</h2>
            <p>I’m here to take the mystery out of getting to know your customers, so that you can make your online presence and products work even harder for you.</p>
            <p><a href="about.html" class="button">More about me</a></p>
        </div>
    </div>
</aside>