<head>
  {% include analytics.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author.name }}">
  {%- include title.html -%}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">
  <meta name="theme-color" content="#D0EBF4">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/glint-favicon-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./assets/img/glint-favicon-96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/glint-favicon-16.png">
  {%- include assets.html -%}
  {%- if site.rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
  {% endif -%}
</head>
