// sass main
// sourceMap false
// compileExpanded: ../glintblog.css

#blog nav a.active {
  color:#161032;
  border-bottom:2px solid #D0EBF4;
}

#blog article {
  padding:40px 120px;
}

#blog article.post {
  max-width:40em;
}

@media screen {
  #blog article.post h1 {
    margin-bottom:30px;
  }
}

#blog article.post h1 a {
  text-decoration:none;
}
