header
  .brand
    .logo 
    h1 
      span Glint UX
      | Remote UX Design
  nav
    ul
      li
        a(href='#home') Home
      li
        a(href='#') About
      li
        a(href='#') Contact
  
  #content
