a.skiptocontent(href='#content', tabindex='1') Skip to content
header
  .brand
    a(href='#home')
      .logo 
      h1 
        span Glint UX
        | Remote Design Services
  nav  
    ul
      li
        a(href='#blog') Blog
      li
        a(href='#home') Services
      li
        a(href='#about') About
