#blog nav a.active {
  color: #161032;
  border-bottom: 2px solid #D0EBF4;
}

#blog article {
  padding: 40px 120px;
}

@media screen and (max-width: 760px) {
  #blog article {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1140px) {
  #blog article {
    padding: 20px 60px;
  }
}

#blog article.post {
  max-width: 40em;
}

#blog article.post h1 {
  margin-bottom: 30px;
}

#blog article.post h1 a {
  text-decoration: none;
}
