#blog nav a.active {
  color: #161032;
  border-bottom: 2px solid #D0EBF4;
}

#blog article.post,
#blog article.page {
  padding: 40px 120px;
}

@media screen and (max-width: 760px) {
  #blog article.post,
  #blog article.page {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1140px) {
  #blog article.post,
  #blog article.page {
    padding: 20px 60px;
  }
}

#blog article.post,
#blog article.page {
  max-width: 40em;
}

#blog article.post h1,
#blog article.page h1 {
  margin-bottom: 30px;
}

#blog article.post h1 a,
#blog article.page h1 a {
  text-decoration: none;
}

#blog a.read-more::before {
  margin: 0 4px;
  padding: 2px 3px;
  background: #eee;
  border-radius: 30%;
  display: block;
  content: ' ';
  width: 1em;
  height: 0.6em;
  position: absolute;
  bottom: 8px;
  left: -2px;
  z-index: -10;
}

#blog a.read-more {
  margin: -24px 4px;
  padding: 2px 11px;
  display: inline-block;
  position: relative;
  top: -4px;
  font-size: 2em;
  text-decoration: none;
}

#blog a.read-more:hover::before {
  background: #000;
}

#archives .archive-date {
  display: inline-block;
  min-width: 8em;
}
