// sass main
// sourceMap false
// compileExpanded: ../main.css

@import "./scss/base.scss";
@import "./scss/grids.scss";

.logo {
  width:100px;
  height:58px;
  background:url('assets/img/logo-color.svg');
}

.avatar {
  width:160px;
  height:160px;
  background-image:url('assets/img/avatar-zita.jpg');
  background-size:cover;
  border-radius:50%;
}
