// output:../index.html

include ./partials/header.jade

.masthead
  .logo
  h1 Glint UX - Remote Design Services
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') About
      li
        a(href='#') Contact

section.valueprop
  h2.hero Up your startup game with design research
  p Tiramisu macaroon pastry croissant. Lemon drops brownie danish jujubes donut pie croissant topping. Danish biscuit icing danish tootsie roll. Gingerbread pastry cheesecake fruitcake halvah marzipan tiramisu.

section.bio
  .avatar
  h2 I'm Zita, your friendly neighborhood Designer
  p I’m here to take the mystery out of getting to know your future customers, so that you can make your online presence work the hardest it can for you.
  button More about me

section.services
  h2 Remote design services
  p If you don't know where to begin, I can help. I offer packages both for taking your first steps towards building a design-led business, or for taking full stock of how your existing stuff performs.
  
  h3 Discovering your market
  p Croissant jujubes sweet. Soufflé chocolate cake dessert. Gummi bears halvah toffee. Cupcake cheesecake toffee danish carrot cake.
  a.action Learn more
  
  h3 Oiling the machine
  p Croissant jujubes sweet. Soufflé chocolate cake dessert. Gummi bears halvah toffee. Cupcake cheesecake toffee danish carrot cake.
  a.action Learn more
  
include ./partials/footer.jade
