// output:../about.html

- var pageTitle = "About Glint | Remote Design Services";
- var current = "about";

include ../assets/partials/header.jade
  include ../assets/partials/masthead.jade

  section.narrow.aboutme
    .avatar.pull-center
    h1.hero Hi there, it's Zita here
    p.lead I’m here to take the mystery out of getting to know your customers, so that you can make your online presence work even harder for you.
  
  section.story
    h2.pull-center My story
    div.text-columns
      p.lead.TODO Apple pie I love I love pastry. Topping gummi bears bear claw. Chocolate cake gummies carrot cake marzipan donut. 
      p.TODO Dessert macaroon carrot cake. I love I love chocolate cake caramels bear claw danish tart jelly-o. Chocolate tootsie roll wafer macaroon marzipan jujubes. Cupcake pudding gummies. Gingerbread I love lollipop sweet roll biscuit marzipan donut toffee.
      p.TODO Chocolate bar dessert oat cake. Dragée donut chupa chups chocolate sesame snaps croissant pie biscuit wafer. 
      p.TODO Tootsie roll jelly beans biscuit I love marshmallow. Caramels I love chocolate cake ice cream muffin bear claw cake pastry. Bear claw lemon drops ice cream candy canes. Jelly jujubes pastry. 
      p.TODO Chocolate cake chocolate cake marshmallow pie ice cream soufflé.


  .sprinkles
  
  section.valuepropisiton.pull-center
    h2 I'm here to help your business
    p.TODO I love I love chocolate cake caramels bear claw danish tart jelly-o. 
    p
      a(href="index.html").button.primary Learn more about my services
    p
      button.contactbutton Get in touch

  include ../assets/partials/footer.jade
