// output:../expert-design-research.html

- var pageTitle = "Remote User Experience Checkup | Glint UX";
- var current = "home";

include ../assets/partials/header.jade
  include ../assets/partials/masthead.jade

  section.narrow.valuepropisiton
    h1.hero Expert Design Research
    
    .row
      .col-8.offset-2
        img.illustration.hero-illustration(src='assets/img/undraw-design-research.png')

    p You have the beginnings of a product or service but need more insight about your customers to make it shine. You want proper research done but you can't afford a full-time UX or Product Designer.
    p That’s where I come in! Book me in for a four week Design Research phase, and I’ll give you a comprehensive overview of 
      span.TODO where your journeys are falling down, and how to fix them. 

  section.narrow.package
    h2.pull-center This package includes
    ol.package-contents
      li
        h3 Video consultation &amp; questionnaire
        p We'll do some prep together to zone in on your unique design needs and to identify the Research deliverables which best serve your objectives.
      li
        h3.TODO XXXX
        p.TODO Over a few weeks, I will analyse your data and research your visitors' behaviour, identifying bottlenecks and working out how to clear them.
      li
        h3.TODO Best-practice recommendations
        p.TODO We will get together for a debrief to go through my insights and prioritised recommendations, handing it over to you and your team &mdash; use this to kick-start your backlog!

  .sprinkles

  section.narrow.targetaudience
    h2.pull-center This is for you if
    ul
      li You built something that’s already online and gets good traffic
      li You want to make sure that your site works its hardest to convert visitors into customers
      li You don’t need a full-time UX Researcher on your team, but you believe that investing in design will help you considerably improve your user journeys and customer experience

  section.narrow.facts
    h3.pull-center Quick fact sheet
    dl.factsheet
      div.fact
        dt Project duration
        dd 4 weeks
      div.fact
        dt Package price
        dd &pound;3,000
      div.fact
        dt Available from
        dd August 2019

  section.cta
    h2.hero If this sounds like you, let's talk!
    .hero
      button.contactbutton.primary Get in touch

  include ../assets/partials/footer.jade
