// output:../index.html

- var pageTitle = "Glint UX | Remote Design Services";

include ../assets/partials/header.jade
  include ../assets/partials/masthead.jade
  #content
    section.valueprop
      h2.hero Up your startup game with 
        span.highlight design research
      .row
        .col-6 
          p.lead Ready to bootstrap your business with design? Let's talk. 
        .col-6 
          p I offer customised packages based on your unique needs, from taking your first steps towards building a design-led product, to taking full stock of how your existing service performs.
      
    section.services-intro
      .row
        .col-4
          img(src='https://via.placeholder.com/240x240?text=Research+illustration+240x240', alt='Research illustration')
        .col-8.service
          h3 Expert Design Research
          p You have the beginnings of a product or service but need more insight about your customers to make it shine. You want proper research done but you can't afford a full-time UX or Product Designer.
          a.action Sounds like you?
          
      .row
        .col-4
          img(src='https://via.placeholder.com/240x240?text=Checkup+illustration+240x240', alt='Checkup illustration')
        .col-8.service
          h3 Remote UX Checkup
          p Your business is online, plenty of people visit your site, only they don’t sign up or buy at the rate you expected them to. There must be bottlenecks somewhere... but you don’t know how to find them.
          a.action(href='./service-template.html') Sounds like you?


    .sprinkles
          
    section.bio
      .row
        .col-4
          .avatar
        .col-8
          h2 Hi there, it's Zita here
          p I’m here to take the mystery out of getting to know your customers, so that you can make your online presence work even harder for you.
          button More about me

  include ../assets/partials/footer.jade
