// output:../index.html

- var pageTitle = "Glint UX - Remote Design Services";

include ../assets/partials/header.jade
include ../assets/partials/masthead.jade


section.valueprop
  h2.hero Up your startup game with
    span.highlight design research
  p Tiramisu macaroon pastry croissant. Lemon drops brownie danish jujubes donut pie croissant topping. Danish biscuit icing danish tootsie roll. Gingerbread pastry cheesecake fruitcake halvah marzipan tiramisu.

section.illustration
  img(src='https://via.placeholder.com/800x300?text=Design+research+illustration+800x300', alt='Glint illustration')

section.services-intro
  h2 Remote design services
  p If you're ready to bootstrap your business with design, let's talk. I offer customised packages based on your unique needs, from taking your first steps towards building a design-led product, to taking full stock of how your existing service performs.
  .row
    .col-5.service
      h3 Expert Design Research
      p You have the beginnings of a product or service but need more insight about your customers to make it shine. You want proper research done but you can't afford a full-time UX or Product Designer.
      a.action Sounds like you?
    
    .col-5.service
      h3 Remote UX Checkup
      p Your business is online, plenty of people visit your site, only they don’t sign up or buy at the rate you expected them to. There must be bottlenecks somewhere... but you don’t know how to find them.
      a.action(href='./service-template.html') Sounds like you?

      
.sprinkles
      
section.bio
  .row
    .col-4
      .avatar
    .col-8
      h2 Hi there, it's Zita here
      p I’m here to take the mystery out of getting to know your customers, so that you can make your online presence work even harder for you.
      button More about me

include ../assets/partials/footer.jade
